language: node_js
node_js:
- '4.2'
before_script:
- npm install -g grunt-cli
before_deploy:
- npm install -g typings
deploy:
  provider: npm
  email: sekowska.k@gmail.com
  api_key:
    secure: OV2GIANdmjec7lvNj4ruLWDv6hHt2w8h2Zv7oW0vWecwCrpn74T0psUycjzv80cuQcTZGOF1o1zyPKIC6iAPLqXf5Osli1hpDDshTdtjRdUGRFDf9o2cr7ckpfJkioO643XxcEN4RFwDnP8XpYuLzcBoQB/PUtWQPHq2ldWURLX0Lkhq8uQ7y/BDKoS3HdZtUlFiCcuhubP2kHjS4Cc7mtxmW8VrCHY1DsZX3XNIQLbXiEwboebeUg6MRgWB/nw4aZXtohO0khP88/VUOgtantNCk+IF09tUuaBvEO4mc4C9twPBn+JsnRZ+UTe8mrM2Z6MUqGcmRnaI6Wp0kZJ8cHM4bHd6TTySTOP1rblq0lZjpQzuPUOVw3EjsgUdJg+srNgkspryOfvCbrfRIz93q4pqGTxrQPq6PJI2ApYdOl0DCG6kmSqksp7GikEW48F46/jn31EvOR9CXabLg7j+ro2g3/mqBZcQgrGF79MWjFSUfHvJQxmfUDsaidYjRULvcGuj88l/y2gxeZbGqNpoXX3W8SyiFbsHWMS6aZHsM7RKZIslUmNQ8MRrGuKERM0dPxioSuHLO5dz4rtVVOucnfCNa+X9apiouLPwbMZ0v53OdV9EQxFhxQMYtrC8ldwBF5/TCObO+lFiPmeVp3oV3LH+QP7jA6qway4zOOlfg4s=
  on:
    repo: Liplattaa/golden-layout
